body,
html {
  height: 100%;
} 

.profile{
  margin-top: 10%;
}
.information{
  margin-top: 10%;
}
.BgColor{
  background-color: 	#fff6f6;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.language{
  margin-left: 5%;
  margin-top: 5%;

}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}